#export-icon {
    color: rgb(204, 206, 200);
    margin: 0;
    padding: 0;
    display: flex; 
    background: none; 
    border: none;
    margin-left: 8px;
    cursor: pointer;
}

#export-icon svg {
    font-size: 24px;
    /* background-color: #2b2a2a; */
    border-radius: 6px;
    padding: 8px; 
}

#export-icon svg:hover {
    animation: rotate-shake 0.4s ease-in 0s 1;
}

#export-icon svg:active {
    transform: scale(0.92);
}

@keyframes rotate-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}