#wealth-body {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
}

#wealth-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #1c2020;
    border-bottom: 2px solid #2b2a2a;
    border-left: 1px solid #2b2a2a;
    border-radius: 0 12px 0 0;
    width: 100%;
    height: 48px;
    align-items: center;
    text-align: center;
}

.title {
    color: #cccec8;
    border-right: 2px solid #2b2a2a;
    line-height: 2;
}

.title:last-child {
    border-right: none;
}

/* #asset-records {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    list-style-type: none;
} */

#asset-records li {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

#asset-row {
    display: contents;
    color: #cccec8;
    line-height: 2;
    border-bottom: 1px solid #2b2a2a;
    position: relative;
}

.editable {
    display: "inline-block";
    cursor: "text";
}

.text-center {
    text-align: center;
    flex: 1;
}

.last-field {
    display: flex;
    justify-content: space-between;
}

.last-field a:first-child {
    flex: 0 0 70%;
    text-align: right;
    border-right: 1px solid #2b2a2a;
}

.last-field button:last-child {
    flex: 0 0 30%;
    justify-content: center;
}

.blank-last-field {
    display: flex;
    justify-content: space-between;
    border-bottom: 0px solid !important;
}

.blank-last-field a:first-child {
    flex: 0 0 70%;
    text-align: right;
    border-right: 1px solid #2b2a2a;
}

.blank-last-field button:last-child {
    flex: 0 0 30%; 
    text-align: center;
}

.plus-icon {
    color: rgb(204, 206, 200);
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: none; 
    border: none;
    cursor: pointer;
}

.plus-icon svg {
    font-size: 24px;
    background-color: #2b2a2a;
    box-shadow: 1px 1px 2px 1px rgb(34, 34, 34);
    outline-offset: 4px;
    border-radius: 6px;
    padding: 4px 6px; 
}

.plus-icon svg:hover {
    background-color: rgb(56, 55, 55);
}

.plus-icon svg:active {
    transform: scale(0.92);
}

.export-icon {
    color: rgb(204, 206, 200);
    margin: 0;
    padding: 0;
    display: flex; 
    background: none; 
    /* border: none; */
    margin-left: 20px;
}

.export-icon svg {
    font-size: 24px;
    background-color: #2b2a2a;
    border-radius: 6px;
    padding: 8px; 
}

.export-icon svg:hover {
    background-color: rgb(56, 55, 55);
}

.export-icon svg:active {
    transform: scale(0.92);
}

#bottom-container {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 64px;
    background-color: #1c2020;    
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0 0 12px 0;
    border-top: 2px solid #2b2a2a;
    border-left: 1px solid #2b2a2a;
}

#total-field {
    color: #cccec8;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.field-input {
    font-family: 'Barlow', sans-serif;
    background-color: rgb(65, 64, 64); 
    color: rgb(204, 206, 200);
    font-size: 15px;
    text-align: right;
    border-radius: 4px;
    padding: 7px 8px;
    width: 86%;
}

#total-field::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 32px; 
    width: 2px; 
    background: #2b2a2a; 
}